.sectionLayout {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    width: 1500px;
    margin: 25px;
    padding: 25px;
    border: 2px navy solid;
}

figure {
    float: left;
}