/* this is a css comment */
main {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: blueviolet;
    margin: 0;
    height: 150px;
}

h1
    font-size: large;
    color: black;
    padding: 1em;
}

p {
    color: aqua;
}